{% extends 'monitoring/base.html' %}
{% block content %}
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">
        <h1 align="center">Register</h1>
        <form action="" method="post">
        {% csrf_token %}
            <div class="tab-content" id="pills-tabContent">
                <div class="form px-4 pt-5">
                    <input style="margin: 1rem 0;" type="text" name="username" class="form-control" placeholder="Name" required>
                    <input style="margin: 1rem 0;" type="email" name="email" class="form-control" placeholder="Email" required>
                    <input style="margin: 1rem 0;" type="password" name="password1" class="form-control" placeholder="Password" required>
                    <input style="margin: 1rem 0;" type="password" name="password2" class="form-control" placeholder="Confirm Password" required>
                    <button type="submit" style="margin: 1rem 0;" class="btn btn-dark btn-block">Register</button>   
                    <button type="reset" style="margin: 1rem 0;" class="btn btn-dark btn-block">Reset</button>            
                </div>
            </div>
        <a href="{% url 'login' %}" style="margin:1rem 1rem;">Login</a>
        </form>
    </div>
</div>
{% endblock %}